In [2]:
import pandas as pd
import numpy as np

In [10]:
#TASK-1
values = np.random.randint(0,16,16)
values

array([11,  3,  6, 13,  3,  7,  7, 14, 14, 10, 12, 11, 11,  7,  6,  2])

In [27]:
values=values.reshape((4,4))
values

array([[11,  3,  6, 13],
       [ 3,  7,  7, 14],
       [14, 10, 12, 11],
       [11,  7,  6,  2]])

In [28]:
df= pd.DataFrame(values)

In [29]:
df

    0   1   2   3
0  11   3   6  13
1   3   7   7  14
2  14  10  12  11
3  11   7   6   2

In [33]:
#TASK-2
df.columns= ['Random value 1','Random value 2','Random value 3','Random value 4']
df

   Random value 1  Random value 2  Random value 3  Random value 4
0              11               3               6              13
1               3               7               7              14
2              14              10              12              11
3              11               7               6               2

In [35]:
#TASK-3
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         9.750000        6.750000        7.750000       10.000000
std          4.716991        2.872281        2.872281        5.477226
min          3.000000        3.000000        6.000000        2.000000
25%          9.000000        6.000000        6.000000        8.750000
50%         11.000000        7.000000        6.500000       12.000000
75%         11.750000        7.750000        8.250000       13.250000
max         14.000000       10.000000       12.000000       14.000000

In [36]:
#TASK-4
df.isnull()

   Random value 1  Random value 2  Random value 3  Random value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False

In [38]:
df.columns.dtype

dtype('O')

In [47]:
#TASK-5
df.iloc[:,[1,2]]

   Random value 2  Random value 3
0               3               6
1               7               7
2              10              12
3               7               6

In [48]:
df.loc[:,['Random value 2','Random value 3']]

   Random value 2  Random value 3
0               3               6
1               7               7
2              10              12
3               7               6